.u-section-1 .u-sheet-1 {
  min-height: 265px;
}

.u-section-1 .u-text-1 {
  font-family: "Bodoni Moda";
  font-size:10em;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: "Bodoni Moda";
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  font-family: "Bodoni Moda";
  margin: 20px auto;
}
